.shop-section {
    margin-top: 100px;
}

.shop-sidebar-heading {
    background-color: var(--primary);
    font-size: 18px;
    line-height: 50px;
    color: var(--white);
}

.page-nav {
    a {
        background-color: var(--white);
        color: var(--primary);
        border: solid 1px var(--primary);
        padding: 0.5rem 1rem;
        margin: 0.3rem;
    }
    .active {
        background-color: var(--primary);
        color: var(--white);
    }
    a:hover {
        background-color: var(--primary);
        color: var(--white);
        transition: all 0.3s;
    }
}

// .page-nav button {
//     padding: 0 1rem;
//     margin: 0.2rem;
//     border: none;
// }

// .page-nav button:hover {
//     background-color: #ddd;
//     transition: all 0.3s;
// }
