// @import './reset';
// @import './variables';

// @import "~bootstrap/scss/functions";

$theme-colors: (
    "secondary": #daadbf
);

// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/root";
@import '~bootstrap/scss/bootstrap.scss';

.section {
    margin-bottom: 120px;
}
img {
    width: 100%;
    height: auto;
}
