.blue{
    background-color: #4C5CED;
    color: white;
}

@media (min-width: 992px){
    .login .container{
        width: 960px !important;
    }
}

.side-box{
    padding: 20% 0;
    height: 100%;
    .context{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    a{
        max-width: 50%;
        margin: auto;
        padding: 0.5rem 2rem;
        border-radius: 2rem;
        color: white;
        border: 1px solid white;
        transition: all 0.3s;
    }

    a:hover{
        border: 1px solid #c5322d;
        background-color: #c5322d;
        color: white;
        transition: all 0.3s;
    }
}

.login-form,
.register-form{
    max-width: 75%;
    input[type=submit]{
        border-radius: 15px;
        background-color: #4C5CED;
        color: white;
        transition: all 0.3s;
    }

    input[type=submit]:hover{
        border-radius: 15px;
        border: 1px solid #4C5CED;
        background-color: white;
        color: black;
        transition: all 0.3s;
    }
    a{
        color: #666;
        font-size: 0.9rem;
    }
}